# Logs
*.log
*.pid

# Secrets & confs
*.conf
*.key
*.pem
*.crt
*.env
*.secrets
*.pw
*.ini
*.json
*.yml

# Binary files / state
*.brn
*.db
*.sqlite
*.sqlite3
*~

# Editor junk
*.swp
*.bak
*.tmp

# Local tools & tmp
commit.sh
config/
tmp/
cache/
